.carousel-container {
    background-color: #2f2f2f;
}
.carousel-container img{
    margin:0 auto;
    width: 100%;
    height: 350px;
    transform: scale(1.15)
}

@media screen and (max-width: 700px) and (min-width: 200px) {
    .slick-list {
        padding: 0;
    }
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 350px;
    top: 42px;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 170px;
    width:400px;
    left: 50%;
    text-align: left;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    line-height: 60px;
}